* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(225, 214, 214);
  font-family: "Roboto", sans-serif;
}
.box {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 10px;
  box-shadow: 0 12px 24px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  border-bottom: 8px solid rgb(49, 69, 150);
}
.mail-icon {
  width: 24px;
  height: 24px;
  stroke: white;
  fill: orange;
  justify-content: center;
  text-align: center;
}
.phone-icon {
  width: 20px;
  height: 20px;
  stroke: #fab005;
  fill: #fab005;
}
.cart-icon {
  width: 24px;
  height: 24px;
}

.logo {
  display: flex;
  border: 1px solid #fab005;
  font-size: 48px;
  letter-spacing: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 5px;
}
.col {
  background-color: #fab005;
  color: #fff;
}

.mail-link {
  text-decoration: none;
  color: black;
}
header {
  display: flex;
  gap: 500px;
  border-bottom: 1px solid rgb(49, 69, 150);
  /* padding-bottom: 5px; */
}
.contact {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  align-items: center;
}
.mail {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.phone {
  display: flex;
  cursor: pointer;
  gap: 5px;
  justify-content: center;
  text-align: center;
}
.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #74b816;
  color: #fff;
  border: none;
  gap: 5px;
  width: 133px;
  height: 62px;
  cursor: pointer;
}
nav {
  border-bottom: 1px solid rgb(49, 69, 150);
  height: 50px;
  display: grid;
  align-items: center;
  text-align: center;
}

.nav-links {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  text-align: center;
  list-style: none;
}
li {
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
li:hover {
  background-color: rgb(49, 69, 150);
  color: #fff;
  font-size: 20px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.title {
  padding-left: 30px;
  padding-top: 10px;
}
.title h1 {
  font-size: 60px;
}
section {
  display: flex;
  gap: 20px;
  padding: 30px;
}
.description {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  line-height: 1.5;
  font-size: 18px;
}
article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  row-gap: 15px;
  width: 900px;
  line-height: 1.6;
  justify-items: center;
  align-items: center;
  align-content: center;
}
article h4 {
  /* color: rgb(49, 69, 150); */
  color: #748ffc;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
article p {
  margin-bottom: 10px;
}

.article-1 {
  border: 1px solid black;
  padding: 15px;
}
.article-2 {
  border: 1px solid black;
  padding: 15px;
}
.article-3 {
  border: 1px solid black;
  padding: 15px;
}

.price-section {
  display: flex;
}
.input {
  width: 25px;
  text-align: center;
}
.price {
  font-weight: 600;
  margin-right: 30px;
}
.small-btn {
  padding: 7px;
  background-color: #74b816;
  color: #fff;
  border: none;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: flex-end;
  margin-right: 70px;
  margin-top: 20px;
  margin-bottom: 10px;
}
